extends layout
block content


    .row
      .col-lg-12
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            |Generated Identity
          .panel-body
            .row

            p Combined Name: #{name}
            p LOCATION: #{location}
            p PHONE: #{phoneinclude}
            p Phone Number: #{phonepost}
            p OCCUPATION: #{occupationpost}

            .col-xs-2
             a(href="/")
              button.btn.btn-success(type='button', ) Back
            button.btn.btn-success(onClick="window.location.reload();") Refresh Identity

  